.swiper-pagination{
    all: unset;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    &-bullet{
        all: unset;
        margin: 0 !important;
        //Style
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: var(--gray-bg-color);
        transition: .3s ease;
    }
    &-bullet-active{
        background: var((--main-color));
    }
}