.office-gallery{
    &__title{
        margin-bottom: var(--spacing-60);
    }
    &__inner{
        display: flex;
        gap: 20px;
        @media (max-width: 1000px){
            flex-direction: column;
        }
    }
    &__img-main{
        position: relative;
        flex: 1 1 100%;
        img{
            border-radius: 8px;
            height: 100%;
        }
    }
    &__imgs{
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        img{
            flex: 1 1 calc(50% - 10px);
            border-radius: 8px;
        }
    }
}